<div class="contactForm">
    <form action="{% url 'create' %}" method="POST">
            <div class="applicant">
                    <input type="text" value="이름" name="name"/>
        <input type="text" value="학번" name="id"/>
            </div>
            <h2>가장 자신있는 언어는 무엇인가요?</h2>
            <div class="inputBox">
            <textarea required="required" name = "answer1"></textarea>
            <span>답변</span>
        </div>
        <h2>살면서 가장 뿌듯했던 기억은 무엇인가요?</h2>
        <div class="inputBox">
            <textarea required="required" name = "answer2"></textarea>
            <span>답변</span>
        </div>
        <h2>가장 열심히 해본 기억이 있다면 어떤 것인가요?</h2>
        <div class="inputBox">
             <textarea required="required" name = "answer3"></textarea>
             <span>답변</span>
        </div>
        <h2>멋쟁이사자에서 어떤 것들을 만들어가고 싶나요?</h2>
        <div class="inputBox">
             <textarea required="required" name = "answer4"></textarea>
             <span>답변</span>
        </div>
        <h2>멋쟁이사자처럼에 지원하게된 동기가 무엇인가요?</h2>
        <div class="inputBox">
             <textarea required="required" name = "answer5"></textarea>
             <span>답변</span>
        </div>
        <div class="inputBox">
             <input type="submit" name="" value="지원하기">
        </div>              
    </form>                    
</div>